*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* style header start */

header .top{
    width: 100%;
    height: 60px;
    display: flex;    
}
header .top >*{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .hour{
    color: #36213E;
    font-weight: 600;
    justify-content: flex-start;
    padding: 20px;
}
header .top .icon >*{
    font-size:25px;
    color: #36213e;
    margin:3%;
    transition: all .3s ease;
}
.icon >*:hover{
    transform: scale(1.2);
}
header .hamberger,.secondList{
    display: none;
    cursor: pointer;
}
header nav{
    width: 100%;
    height: 80px;
    background-color: rgb(54, 33, 62);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}
nav h1{
    font: 36px;
    color: white;
    font-weight: bold;
}
header nav .firstList{
    list-style-type: none;
    display: flex;
    gap: 1em;
    
}
.firstList li{
    position: relative;
}
.firstList li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    width: 140px;
    text-align: center;
    transition: all 0.5s ease;
}
nav .firstList li a:hover,.choose{
background-color: #554971;
color: white;
}
.firstList li:hover .secondList{
    display: initial;
    position: absolute;
    background-color:#36213E;
    color: white;
    left: 0;
    top:40px;
    border-radius: 10px;
    
}
.secondList{
    z-index: 100;
    list-style-type:none;
}
.secondList li a{
    border-bottom: 2px solid gray;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding:5px 10px;
    border-radius: 4px;
    transition: all .3s ease;
  }
  
  #myBtn:hover {
    background-color: #36213E;
    color: white;
    transform: scale(1.2);
  }

  /* style header end */

  /* section about my image and cv */
section{
    background-color: #f2f2f2;
    padding: 6%;
}
.container{
    z-index: 99;
    width: 100%;
    height: 98%;
    box-shadow: 0px 0px 5px #36213E;
    padding: 4%;
    background-image: url(../images/ramesh\ 1.jpg);
    background-position: center center;
}
.container-2{
    z-index: 98;
    width: 100%;
    height: 96%;
    box-shadow: 0px 0px 5px #36213E;
    padding: 4%;
    backdrop-filter: blur(10px);
}
.container-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 380px;
    box-shadow: 0px 0px 5px #36213E;
    padding: 30px;
    gap: 2em;
    
}
.container-3 h1{
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 0px 0px 3px #36213E;
}
.container-3 button{
    padding: 10px 20px;
    background-color: #36213E;
    color: white;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 0.5s ease;
}
.container-3 button:hover{
    background-color: white;
    color: #36213E;
    box-shadow: 0px 0px 10px #36213E;
}

#h1{
    text-align: center;
    margin: 20px;
    color: #36213E;
}
/* end section my image and cv */

/* start services */
.services{
    width: 100%;
    height: fit-content;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;

}
.services .card{
    width: 300px;
    height: 400px;
    color: #36213E;
    background-color: #f2f2f2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    position: relative;
}
.card h2{
    font-size: 24px;
    background-color: #36213E;
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px 0px;

}

.card p{
    text-align:justify;
    margin: 20px;
    font-size: 18px;
}
.card ul li{
    width: 30px;
    margin: auto;
    
}
.card button{
    position: absolute;
    bottom: 0px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    transition: all .5s ease;
    outline: none;
}
.card button:hover{
background-color: #36213E;
color: white;
border: none;
}
/* end services */

/* start about us */
.about{
    width: 100%;
    height: fit-content;
    background-color: #f2f2f2;
    margin-top: 50px;
    padding: 50px;
}
.about h1{
    color: #36213E;
    text-align: center;
    margin-bottom: 30px;
}
hr{
    box-shadow: 3px 3px 5px black;
    border-radius: 10px;
    width: 40%;
    margin: auto;
    margin-bottom: 30px;
}
.box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width:40%;
    padding: 20px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
}
.right iframe{
    width: 80%;
    height: 300px;
    border: 2px solid #36213E;
}
.right audio{
    border: 2px solid #36213E;
    width: 80%;
}
.right p {
    font-size: 20px;
    font-weight: bold;
    width: 80%;
    background-color: #36213E;
    color: white;
    text-align: center;
    padding: 5px;
}
.left{
    width:40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
}
.left .gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.left p{
    font-size: 18px;
    width: 80%;
    text-align: justify;
    margin: 0 auto;
    color: #36213E;
}
.information{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
    padding: 20px;
}
.information >*{
    width: 100px;
    color: #36213E;
    font-size: 16px;

}
.information ul li{
    width: 100px;
    margin: auto;
}
.photo{
    border: 1px solid #ccc;
}
.photo:hover{
    border: 1px solid #36213E;
}
.photo a img{
    width:150px;
    height: 200px;
}
/* end about us */

/* start contact Us  */
.contact{
    padding: 50px;
}
.contact h1{
    text-align: center;
}
.contact p{
    width: 60%;
    text-align: justify;
    margin:20px auto;
}
.contactBox{
    margin:auto;
    width:70%;
    height: 500px;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    display: flex;
}
.way{
    width: 50%;
    height: 100%;
    background-color: #36213E;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
    gap: 2em;
}
.social{
    display: flex;
    align-items: center;
    gap: 10px;
}
.social h3{
    font-size: 18px;
}
.circle{
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle >*{
    font-size: 25px;
    color: #36213E;
}
.contactIcon{
    padding: 20px;
}
.contactIcon >*{
    font-size: 28px;
    margin: 10px;
    color: white;
}
.formBox {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
input[type=text],textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    padding: 12px 20px;
    box-shadow: 0px 0px 3px #36213E;
    cursor: pointer;
    font-weight: bold;
  }
  
  input[type=submit]:hover {
    background-color: #36213E;
    color: white;
    box-shadow: none;
  }
  .row{
	display: flex;
	flex-wrap: wrap;
}
.footer{
	background-color: #36213E;
    width: 100%;
    padding: 20px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: gray;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul{
    list-style-type: none;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

  
  


@media (max-width:1024px) {
    .footer{
        margin-top: 300px;
    }
    .left,.right{
        width: 500px;
    }
}
@media (max-width:920px) {
    .footer{
        margin-top: 450px;
    }
   header nav .firstList li a{
        font-size: 16px;
        width: 120px;
    }
    .contactBox{
        width: 90%;
        flex-direction: column;
        gap: 2em;
    }
    .way{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        }    
}
@media (max-width:768px) {
    header nav .firstList{
        z-index: 100;
        background-color: #36213E;
        position: absolute;
        top: 140px;
        left: -100%;
        height: 250px;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        transition: all 0.5s ease;
        gap: 0em;
        
    }
.hamberger.active :nth-child(1){
    transform: rotate(50deg);
}
.hamberger.active :nth-child(2){
    width: 0px;
}
.hamberger.active :nth-child(3){
    transform: rotate(-50deg)translate(8px,-7px);
}
.hamberger .line{
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background-color: white;
    margin-top: 3px;
    transition: all .5s ease;
}
     header nav .firstList.active{
        width: 100%;
        top: 140px;
        left: 0;
    }
    nav .firstList li a{
        border-bottom: 2px solid gray;
    }
    .firstList li:hover .secondList{
        position:absolute;
        border: 2px solid gray;
        border-bottom: none;
        top: 0px;
        left:120px;
    }
    nav .hamberger{
        display: block;
    }
    .information >*{
        font-size: 15px;
    }
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }

}
@media (max-width:440px) {
    header nav .firstList.active{
        align-items: flex-start;
        padding:10px;
    }
    .hour{
        font-size: 15px;
    }
    .services .card{
        height: 410px;
    }
    .card h2{
        font-size: 22px;
    }
    .card p{
        font-size: 17px;
        margin: 15px;
    }
    .information >*{
        width: 80%;
    }
    .way{
        height: fit-content;
        justify-content:flex-start;
        padding: 15px;
    }
    i{
        font-size: 15px;
    }
    .social h3{
        font-size: 14px;
    }
    h3{
        font-size: 15px;
    }
    .footer-col{
        width: 100%;
    }
}




